th {
    text-align: center;
}
.month-name {
    text-decoration: underline;
    color: #d35411
}
.align-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}