.pc__sidebar .navbar-nav {
    background-color: #03374f;
    background-image: unset;
}
.sidebar-dark #sidebarToggle {
    background-color: #355f72;
}
#content-wrapper .navbar {
    background-color: #355f72 !important;
    height: auto;
    padding: 40px 25px 80px;
}
.pc__top-element{
    margin-top: -80px;
}
#content-wrapper .navbar h3 {
    padding: 0;
    color: #ffffff;
    font-weight: 400;
    font-size: 35px;
}
.pc__sidebar .sidebar {
    min-height: 130vh;
}

.btn-secondary {
    background-color: #223D7F;
    /* color: #223D7F; */
}

.transactee-modal .modal-body {
    height: auto !important;
}

.transactee-modal .modal-dialog {
    max-width: 700px;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.success {
	color: #28a745!important;
    font-size: 1rem!important;
    width: 100%!important;
    padding-top: 10px!important;
}

.btn-success.disabled, .btn-success:disabled {
    pointer-events: none;
}